@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Monofett&display=swap');

:root {
    /* Fonts */
        --font-heading: "Monofett", monospace;
        --font-paragraph: "Dongle", sans-serif;

    /* Colour Palette Colours */
        --primary-colour: #00FFB2;
         /* #3dd3b9; */
        /* was aquamarine */
        --secondary-colour: blueviolet;
        --purple-colour: #8853D3;
        /* was blueviolet */
        --tertiary-colour: #f8f9fa;
        /* same as navbar */
        --other-pink: #ec008b;
        /* could be used for inventory and borders around sections and buttons */
}

/* Global Styles */

body {
    font-family: var(--font-paragraph);
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--primary-colour);
    /* width: 100vh; */
    /* fix width issue */
}

h1 {
    font-family: var(--font-heading);
    padding: 15px 0;
    font-size: 6rem;
    color: var(--secondary-colour);
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1;
}

p {
    margin: 0;
    line-height: 1;
}

nav p, nav .nav-link {
    padding: 0 20px;
    color: var(--secondary-colour);
}

input[type='radio'] { 
     transform: scale(2.5);
     accent-color: var(--secondary-colour);
}

input[type='text'] { 
     padding: 10px;
     color: var(--secondary-colour);
     border: 4px solid var(--secondary-colour);
     border-radius: 20px;
     background-color: var(--tertiary-colour);
     /* reduce size too? */
}

button, .border {
    border-radius: 20px;
}

button {
    border: 4px solid var(--secondary-colour);
    text-transform: capitalize;
    padding: 7px 5px 0px 5px;
    color: var(--secondary-colour);
    /* white-space:nowrap; */
}

button[type='submit'] {
    border: 4px solid black;
    text-transform: capitalize;
    padding: 7px 5px 0px 5px;
}

button:hover {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}

progress {
    width: 100%;
    max-width: 250px;
}

.hidden {
    display: none;
}

.black-border {
    border: 5px solid black;
    border-radius: 20px;
}

.page-section {
    margin: 20px 0;
    padding: 30px;
    border: 5px solid var(--secondary-colour);
    border-radius: 20px;
}

.pokemon-card {
    margin: 10px 0;
    padding: 10px;
    border: 5px solid var(--secondary-colour);
    border-radius: 20px;
}

.pokemon-card>h3 {
    line-height: 0.7;
}

.details>p {
    line-height: 0.8;
}

.navbar > div {
    margin-top: 7px;
}

.starter {
    /* margin: 10px 0; */
    border-radius: 20px;
    color: var(--secondary-colour);
    padding-top: 10px;
}

.small-details {
    font-size: 1.8rem;
    line-height: 0.8;
}

#inventory-button {
    border: none;
    border-radius: 0px;
}

@media (max-width: 992px) {

    h3 {
        font-size: 2.5rem;
    }

    .details {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 3rem;
    }

    .details {
        font-size: 2.5rem;
    }

    /* img.sprite class needs removing here */
}

@media (max-width: 560px) {

    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    /* .starter .details {
        display: none;
    } */
}

@media (max-width: 395px) {

    h1 {
        font-size: 3rem;
    }

    h2, h3 {
        font-size: 2.2rem;
    }

    input[type='text'] { 
     padding: 0;
    }
}

@media (max-width: 359px) {

    h2 {
        font-size: 1.8rem;
    }

}