@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Monofett&display=swap');

:root {
    /* Fonts */
        --font-heading: "Monofett", monospace;
        --font-paragraph: "Dongle", sans-serif;

    /* Colour Palette Colours */
        --primary-colour: #00ffb2;
        --other-background: #3dd3b9;
        --aquamarine: aquamarine;
        --secondary-colour: blueviolet;
        --purple-colour: #8853d3;
        /* was blueviolet */
        --tertiary-colour: rgba(var(--bs-tertiary-bg-rgb));
        /* matches navbar */
        --quaternary-colour: #ec008b;
        /* Make this colour slightly less bright, but with enough contrast against white to read */
}

/* Global Styles */

body {
    font-family: var(--font-paragraph);
    text-align: center;
    font-size: 2.5rem;
    background-color: var(--primary-colour);
}

h1 {
    font-family: var(--font-heading);
    padding: 15px 0;
    font-size: 6rem;
    color: var(--secondary-colour);
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1;
}

p {
    margin: 0;
    line-height: 1;
}

nav p, nav .nav-link {
    padding: 0 20px;
    color: var(--quaternary-colour);
}

input[type='radio'] { 
    transform: scale(2.5);
    accent-color: var(--secondary-colour);
}

input[type='text'] { 
    padding: 10px;
    color: var(--secondary-colour);
    border: 4px solid var(--secondary-colour);
    border-radius: 20px;
    background-color: rgba(var(--bs-tertiary-bg-rgb));
    /* reduce size too? */
}

button, .border {
    border-radius: 20px;
}

button {
    border: 4px solid var(--secondary-colour);
    text-transform: capitalize;
    padding: 7px 10px 3px 10px;
    color: var(--secondary-colour);
    background-color: var(--tertiary-colour);
    font-size: 2.6rem;
}

button[type='submit'] {
    border: 4px solid black;
    text-transform: capitalize;
    padding: 7px 10px 4px 10px;
}

button:hover {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
}

.secondary-button {
    border: 4px solid var(--quaternary-colour);
    color: var(--quaternary-colour);
    background-color: var(--tertiary-colour);
}

.inventory-button.secondary-button {
    padding: 16px 20px 14px 20px;
    border-radius: 17px;
    font-size: 2.6rem;
}

progress {
    width: 100%;
    max-width: 100%;
    /* This fixes the issues with progress bars not filling full space at some screen sizes */
}

img {
    min-height: 250px;
    min-width: 250px;
}

.hidden {
    display: none;
}

.black-border {
    border: 5px solid black;
    border-radius: 20px;
}

.page-section {
    margin: 20px 0;
    padding: 30px;
    border: 5px solid var(--secondary-colour);
    border-radius: 20px;
}

.pokemon-card {
    margin: 10px 0;
    padding: 10px;
    border: 5px solid var(--secondary-colour);
    border-radius: 20px;
}

.pokemon-card>h3 {
    line-height: 0.7;
}

.details>p {
    line-height: 0.8;
}

.radio-arrow {
    color: black;
    font-weight: 900;
    font-size: 1.4rem;
}

.navbar > div {
    margin-top: 7px;
}

.starter {
    border-radius: 20px;
    color: var(--secondary-colour);
    padding-top: 10px;
}

.small-details {
    font-size: 1.8rem;
    line-height: 0.8;
}

#inventory-button {
    border: none;
    border-radius: 0px;
}

@media (max-width: 992px) {

    h3 {
        font-size: 2.5rem;
    }

    .details {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {

    h2 {
        font-size: 2.8rem;
    }

    .starter>h3 {
        font-size: 3rem;
    }

    .details {
        font-size: 2.5rem;
    }

    /* img.sprite class needs removing here */
}

@media (max-width: 560px) {

    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    /* .starter .details {
        display: none;
    } */
}

@media (max-width: 395px) {

    h1 {
        font-size: 3rem;
    }

    h2, h3 {
        font-size: 2.2rem;
    }

    input[type='text'] { 
     padding: 0;
    }
}

@media (max-width: 359px) {

    h2 {
        font-size: 1.8rem;
    }

}