@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Monofett&display=swap');

body {
    font-family: "Dongle", sans-serif;
    text-align: center;
    font-size: 2.5rem;
}

h1 {
    font-family: "Monofett", monospace;
    padding: 15px 0;
    font-size: 5rem;
}

p {
    margin: 0;
}

nav p, nav .nav-link {
    padding: 0 20px;
}